{% extends "layouts/default.html" %}
{% block title %} Main Page {% endblock %}
{% block content %}

<!-- header images -->
<div id="top" class="jumbotron text-center ">
    <img class="screen-shot" src="/images/header.png" width="900" height="150"/>
</div>

<div class="row top30">
</div>

<div class=container>
    <div class="row">
        <div class="center">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h4><b>Silahkan Masukkan Gejala Kucing Anda</b></h4>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>

<div class="row top30">
</div>


<!-- checkbox -->
<div class="container">
    <div class="row">
        <div class="center">
            <div class="col-sm-4"></div>
            <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4"> -->
            <div class="col-sm-4">
                <!-- forms -->
                <form action="/inference">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Gejala Penyakit</div>
                        
                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item">
                                Demam
                                <div class="material-switch pull-right">
                                    <input id="cb-demam" name="items[][name]" type="checkbox"  value="g1"/>
                                    <label for="cb-demam" class="label-primary"></label>
                                </div>
                            </li>                
                            <li class="list-group-item">
                                Diare
                                <div class="material-switch pull-right">
                                    <input id="cb-diare" name="items[][name]" type="checkbox"  value="g2"/>
                                    <label for="cb-diare" class="label-primary"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Nafsu Makan Menurun
                                <div class="material-switch pull-right">
                                    <input id="cb-nfm" name="items[][name]" type="checkbox"  value="g3"/>
                                    <label for="cb-nfm" class="label-primary"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Muntah
                                <div class="material-switch pull-right">
                                    <input id="cb-muntah" name="items[][name]" type="checkbox"  value="g4"/>
                                    <label for="cb-muntah" class="label-primary"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Kotoran Telinga Keluar
                                <div class="material-switch pull-right">
                                    <input id="cb-ktk" name="items[][name]" type="checkbox"  value="g5"/>
                                    <label for="cb-ktk" class="label-primary"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Sariawan
                                <div class="material-switch pull-right">
                                    <input id="cb-sariawan" name="items[][name]" type="checkbox"  value="g6"/>
                                    <label for="cb-sariawan" class="label-primary"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Keluar Cairan Kental Dan Berwarna
                                <div class="material-switch pull-right">
                                    <input id="cb-kckdb" name="items[][name]" type="checkbox"  value="g7"/>
                                    <label for="cb-kckdb" class="label-primary"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Batuk
                                <div class="material-switch pull-right">
                                    <input id="cb-batuk" name="items[][name]" type="checkbox"  value="g8"/>
                                    <label for="cb-batuk" class="label-primary"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Bersin
                                <div class="material-switch pull-right">
                                    <input id="cb-bersin" name="items[][name]" type="checkbox"  value="g9"/>
                                    <label for="cb-bersin" class="label-primary"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Keluar Cairan Bening
                                <div class="material-switch pull-right">
                                    <input id="cb-kcb" name="items[][name]" type="checkbox"  value="g10"/>
                                    <label for="cb-kcb" class="label-primary"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Telinga Atau Kaki Berkerak
                                <div class="material-switch pull-right">
                                    <input id="cb-takb" name="items[][name]" type="checkbox"  value="g11"/>
                                    <label for="cb-takb" class="label-primary"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Garuk-Garuk Atau Menjilat-Jilat
                                <div class="material-switch pull-right">
                                    <input id="cb-ggamj" name="items[][name]" type="checkbox"  value="g12"/>
                                    <label for="cb-ggamj" class="label-primary"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Berat Badan Menurun
                                <div class="material-switch pull-right">
                                    <input id="cb-bbm" name="items[][name]" type="checkbox"  value="g13"/>
                                    <label for="cb-bbm" class="label-primary"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Bulu Kusut
                                <div class="material-switch pull-right">
                                    <input id="cb-bk" name="items[][name]" type="checkbox"  value="g14"/>
                                    <label for="cb-bk" class="label-primary"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Bulu Rontok
                                <div class="material-switch pull-right">
                                    <input id="cb-br" name="items[][name]" type="checkbox"  value="g15"/>
                                    <label for="cb-br" class="label-primary"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Bulu Botak, Membentuk Lingkaran
                                <div class="material-switch pull-right">
                                    <input id="cb-bbml" name="items[][name]" type="checkbox"  value="g16"/>
                                    <label for="cb-bbml" class="label-primary"></label>
                                </div>
                            </li>
                        </ul>
                        <!-- list group end -->
                    </div>
                    <!-- panel contend end -->
                    <button type="submit" class="btn btn-success">
                        <i class="icon-circle-arrow-right icon-large"></i> Inferensikan!
                    </button>
                </form>
                <!-- forms end -->
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>
<!-- checkbox end -->

<div class="row top30">
</div>

<footer id="global-footer">
    <small>&copy; 2017 Kelompok X - RP E</a></small>
    <div class="lisp-logo">
    </div>
</footer>


{% endblock %}

