{% extends "layouts/default.html" %}
{% block title %} belajarweb | Checkbox {% endblock %}
{% block content %}

<!-- header images -->
<div id="top" class="jumbotron text-center ">
    <img class="screen-shot" src="/images/header.png" width="900" height="150"/>
</div>

<div class="row top30">
</div>

<!-- hasil inferensi -->
<div class="container d-flex align-items-center">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-group">
                <div class="panel panel-danger">
                    <div class="panel-heading"> Penyakit Kucing Anda </div>
                    <div class="panel-body"><h3>{{ jawaban }}<h3></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex align-items-center">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-group">
                <div class="panel panel-success">
                    <div class="panel-heading"> Penanganan Dini Terhadap
                        <b>{% if jawaban == "Penyakit anda tidak terdeteksi oleh sistem kami, silahkan hubungi dokter terdekat" %}
                        {% else %}
                        {{ jawaban }}.
                        {% endif %}</b></div>
                    <div class="panel-body"><h3>{{ penanganan }}<h3></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex align-items-center">
    <div class="row">
        <div class="col-sm-4">
            <div class="btn-group">
                <a href="/" class="btn btn-primary">Terimakasih</a>
            </div>
        </div>
    </div>
</div>




<div class="row top30">
</div>

{% endblock %}
